# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lab_001/Lab_001.VC.db
/Lab_001/.vs/Lab_001/v14
/Lab_001/Lab_001.VC.VC.opendb
/Lab_001/Lab_001/Debug
/Lab_001/Debug
/Lab_001/Lab_001/Lab_001.aps
/Lab_002/.vs/Lab_002/v14
/Lab_002/Lab_002.VC.db
/Lab_002/Lab_002.VC.VC.opendb
/Lab_002/Debug
/Lab_002/Lab_002/Debug
/Lab_002/Lab_002/Lab_002.aps
/Lab_003/.vs/Lab_003/v14
/Lab_003/Debug
/Lab_003/Lab_003/Debug
*.aps
/Lab_003/Lab_003.VC.db
*.opendb
/Lab_004/.vs/Lab_004/v14
*.db
/Lab_004/Debug
/Lab_004/Lab_004/Debug
